doctype html
html
    head
        title sportsBlog
        link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", href="/css/style.css")
    body
        block content
        hr
        footer  
            .container
            copyright &copy; 2019, sportsBlog

    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/js/main.js')